.produtos { 
    width: 940px; 
    margin: 0 auto; 
} 

.produtos h2 { 
    font-size: 30px; 
    font-weight: bold; 
} 

.produtos li { 
    display: inline-block; 
    text-align: center; 
    width: 30%; 
} 

.produtos-lista .produtos-item { 
    display: inline-block; 
    width: 23%; 
    vertical-align: top; 
    border: 2px solid #000000;
}

